





  /*** MEDIA QUERYS ***/
/* Tablet */
@media only screen and (max-width: 1024px) {

  /* querys pag index */
  .items-nav {
    display: flex;
    font-size: 16px;
  }

  .items-nav li {
    margin-right: 2%;
    list-style: none;
    background-color: grey;
    width: 14%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }

  .items-nav li a{
    font-size: 14px;
  }
  
  .container-introduction p {
    font-size: 14px;
  }

  .button-advisory{
    font-size: 16px;
  }

  .content-form{
    width: 40%;
  }

  .content-footer{
    padding-left: 10%;
    padding-right: 10%;
  }
 

 .content-footer p {
    width: 100%;
    font-size: 12px;
  }

   /*querys pag casos  */
   .content-cases-successful{
     margin-top: 4%;
   }

   .section-main{
    display: flex;
    flex-wrap: wrap;
  }

  .content-experience{
    margin-bottom: 5%;
    width: 100%;
  }
  /* querys pag contacto */
    .container-pre-form{
    margin-left: auto;
    margin-right: auto;
  }

  .content-pre-form {
    width: 60%;
  }

  /* pagina sobre mi */
  .container-logo{
    width: 80px;
  }

  .content-footer{
    display: flex;
    flex-wrap: wrap;
  }


  .content-icons{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
  }

  .content-icons a{
    margin-right: 40%;
  }


}

@media only screen and (max-width: 540px) {

  /* estilos pag index */

  .content-form{
    width: 60%;
  }
  
  .container-experience{
    display: flex;
    flex-wrap: wrap;
  }
  
  .container-experience ul{
    margin-left: 5%;
  }
  
  .text-introdution-1,.text-introdution-2, 
  .content-process {
    margin-top: 5%;
    margin-bottom: 4%;
  
  }
  .container-introduction{
    margin-top: 6%;
  }

  .container-photo {
    margin-top: 10%;
  }

  .content-icon{
    width: 200px;
  }
  .content-advisory {
    margin-bottom: 10%;
  }

  /*** estilos pagina casos ***/
  .content-cases-successful{
    font-size: 24px;
    margin-top: 8%;
    margin-bottom: 5%;
  }

  .section-main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    justify-content: center;
    padding-left: 0%; 
     padding-right: 0%;
     margin-left: 8%;
    margin-right: 5%;
  }
  .content-experience{
    margin-bottom: 5%;
    width: 100%;
  }
  .content-cases ul {
    margin-bottom: 5%;
    margin-right: 0%;
  }

  .content-cases{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;

  } 

  /* estilos pag contacto */
  .content-pre-form h2{
    font-size: 1.4rem;
  }
  .content-pre-form {
    width: 70%;
  }

  /* estilos quien soy */
  .content-about-me{
    width: 85%;
    margin-top: 6%;
  }

  /* pag servicios */

  .information-services{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .information-services h2{
    font-size: 1.3rem;
  }

  .information-services p{
    font-size:  18px;
  }
}