.content-form {

    margin-left: auto;
    margin-right: auto;
    
  }

  .buton-solicitu{
    margin-top: 2%;
    background-color:#1f4869;
    border-radius:10px;
    border:1px solid #2b3f4f;
    cursor:pointer;
    color:#ffffff;
    font-size: 17px;
    padding: 13px 25px;
    text-shadow:0px 1px 0px #2f6627;

  }

  .buton-solicitu:hover{
    background-color:#0d3d63;
    color:#ffffff;
  }