// ESTILOS SERVICIOS

@mixin width-full {
  width: 100%;  
}

@mixin text-center($center, $mb) {
  text-align: $center;
  margin-bottom: $mb;
  
}
/* seccion sobre los servicios ofrecidos*/
.content-services{
  margin-top: 5%;
}

.container-services{
  @include width-full
}

.container-services img{
  @include width-full
}

.information-services{
  width: 50%;
  margin-left: auto;
  margin-right: 25%;
  margin-top: 4%;
}

.information-services h2{
  @include text-center( center, 5% );
  font-size: 2rem;
}

.information-services h3{
  @include text-center( center, 2% );
}
.information-services p{
  text-align: center;
  line-height: 1.5rem;
  line-height: 1.5rem;

}
