/* ESTILOS SOBRE MI */
/* agrega fondo */
.content-about-me{
    width: 50%;
    margin: 3% auto;
    background-image: url("../assets/fondo.jpg");
  }
  
  /* imagen principal */
  .container-foto{
    width: 100% ;
  }
  
  .content-image-foto{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }
  
  .content-image-foto img{
    width: 100%;
  }
  
  .content-about-me div h2{
    text-align: center;
    margin-bottom: 6%;
    font-size: 1.8rem;
  }
  /* seccion sobre mi */
  .information-about-me{
    line-height: 1.4rem;
    padding: 1% 5%;
  }