* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ESTILOS INDEX **/
/* estilos boostrtap*/
.navbar-nav a:hover {
  color: #365776;
  font-weight: 500;
}

.navbar-expand-lg, .container-logo img {
  width: 100%;
}

/* seccion header */
.headering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-bar {
  width: 100%;
  margin-left: 10%;
  margin-top: 3%;
}

.container-logo {
  width: 20%;
  margin: 1% 10% 2% 1%;
}

.items-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  width: 100%;
}

.items-nav a {
  margin-right: 3%;
  list-style: none;
  width: 16%;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  cursor: pointer;
  border-radius: 6px;
  background: grey;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  font-weight: 600;
}

.items-nav a:hover {
  background: #eedbdb;
  background: -webkit-gradient(linear, left top, right top, from(#eedbdb), color-stop(19%, #cabc6e));
  background: linear-gradient(90deg, #eedbdb 0%, #cabc6e 19%);
}

.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
}

.main-back {
  background-image: url("../assets/fondo.jpg");
}

.container-introduction {
  width: 50%;
  margin-top: 17%;
}

.container-introduction p {
  padding: 0 10% 0 10%;
  font-size: 18px;
}

/* boton de asesoria */
.content-advisory {
  background-color: #808080;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1% 2%;
  margin-top: 6%;
  margin-left: 9%;
  cursor: pointer;
  border-radius: 10px;
}

.content-advisory:hover {
  background-color: #CABC6E;
}

.button-advisory {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* foto principal */
.container-photo {
  width: 45%;
}

.container-photo img {
  width: 100%;
}

/* seccion experiencia y casos */
.container-experience {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "text1  text2 process";
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
  font-size: 16px;
}

.text-introdution-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text1;
  padding-right: 1%;
  width: 90%;
}

.text-introdution-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text2;
  width: 100%;
}

.content-process {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: process;
  width: 100%;
}

.container-experience ul {
  margin-left: 20%;
  font-size: 16px;
}

.content-form {
  margin-left: auto;
  margin-right: auto;
}

.buton-solicitu {
  margin-top: 2%;
  background-color: #1f4869;
  border-radius: 10px;
  border: 1px solid #2b3f4f;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 9px 15px;
  text-shadow: 0px 1px 0px #2f6627;
}

.buton-solicitu:hover {
  background-color: #0d3d63;
  color: #ffffff;
}

.form-group {
  margin-bottom: 1.5%;
}

.logo-footer {
  width: 50%;
  padding-top: 5%;
  padding-left: 15%;
}

.content-logo {
  width: 65%;
  margin-left: 10%;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.container-elements {
  margin-top: 25px;
  margin-bottom: 25px;
}

.text-block {
  display: block;
  width: 100%;
  margin-top: 1%;
  height: 25px;
  border: 2px solid #808080;
  border-radius: 10px;
}

#dude {
  width: 100%;
  height: 150px;
}

.content-footer {
  margin-top: 8%;
  background-color: #808080;
  width: 99%;
}

.icon-logo {
  width: 7%;
}

.content-icons {
  display: -webkit-box;
  text-align: center;
  padding-top: 6%;
}

.content-icons a {
  text-decoration: none;
}

.paragraph-footer {
  font-size: 12px;
}

.container-main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title  title" "description  cases";
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
}

.content-cases-successful {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
  text-align: center;
  margin-top: 2%;
  font-size: 24px;
}

.content-experience {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
  width: 80%;
  margin-right: 8%;
  text-align: left;
  line-height: 1.5rem;
}

.content-cases {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cases;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-cases ul {
  margin-right: 10%;
}

.content-cases ul li {
  line-height: 1.5rem;
}

/* ESTILOS CONTACTO */
/* imagen contacto */
.content-contact {
  margin-top: 5%;
}

.container-banner, .container-banner img {
  width: 100%;
}

/* seccion introduccion abogada */
.content-pre-form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.content-pre-form h2 {
  text-align: center;
  margin-bottom: 5%;
  font-size: 2.5rem;
}

.content-pre-form p {
  line-height: 1.5rem;
  font-size: 18px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

/* seccion sobre los servicios ofrecidos*/
.content-services {
  margin-top: 5%;
}

.container-services {
  width: 100%;
}

.container-services img {
  width: 100%;
}

.information-services {
  width: 50%;
  margin-left: auto;
  margin-right: 25%;
  margin-top: 4%;
}

.information-services h2 {
  text-align: center;
  margin-bottom: 5%;
  font-size: 2rem;
}

.information-services h3 {
  text-align: center;
  margin-bottom: 2%;
}

.information-services p {
  text-align: center;
  line-height: 1.5rem;
  line-height: 1.5rem;
}

/* ESTILOS SOBRE MI */
/* agrega fondo */
.content-about-me {
  width: 50%;
  margin: 3% auto;
  background-image: url("../assets/fondo.jpg");
}

/* imagen principal */
.container-foto {
  width: 100%;
}

.content-image-foto {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.content-image-foto img {
  width: 100%;
}

.content-about-me div h2 {
  text-align: center;
  margin-bottom: 6%;
  font-size: 1.8rem;
}

/* seccion sobre mi */
.information-about-me {
  line-height: 1.4rem;
  padding: 1% 5%;
}

/*** MEDIA QUERYS ***/
/* Tablet */
@media only screen and (max-width: 1024px) {
  .items-nav a {
    width: 22%;
    margin-bottom: 0.3%;
    padding-bottom: 2%;
  }
  /* querys pag index */
  .items-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    margin-top: 2%;
  }
  .items-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
  }
  .items-nav li {
    margin-right: 2%;
    list-style: none;
    background-color: grey;
    width: 14%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
  .items-nav li a {
    font-size: 14px;
  }
  .container-introduction p {
    font-size: 14px;
  }
  .button-advisory {
    font-size: 16px;
  }
  .content-form {
    width: 40%;
  }
  .container-introduction {
    margin-top: 9%;
  }
  /*querys pag casos  */
  .content-cases-successful {
    margin-top: 4%;
  }
  .content-footer {
    padding-left: 10%;
    padding-right: 10%;
  }
  .content-footer p {
    width: 100%;
    font-size: 12px;
  }
  .section-main, .content-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo-footer {
    width: 200px;
    position: relative;
    left: -15%;
    top: 17%;
  }
  .icon-logo {
    width: 23%;
  }
  .content-experience {
    margin-bottom: 5%;
    width: 100%;
  }
  /* querys pag contacto */
  .container-pre-form {
    margin-left: auto;
    margin-right: auto;
  }
  .content-pre-form {
    width: 60%;
  }
  /* pagina sobre mi */
  .container-logo {
    width: 80px;
  }
  .content-icons {
    margin-top: 30%;
  }
  .container-fluid {
    position: relative;
    top: -60px;
    left: 3%;
  }
  .items-nav a {
    width: 50%;
    margin-bottom: 0.3%;
    padding-bottom: 2%;
  }
  .container-logo {
    margin-left: auto;
    width: 130px;
  }
  .container-elements {
    margin: 0;
  }
}

/* mobile */
@media only screen and (max-width: 540px) {
  .items-nav a {
    width: 100%;
    margin-bottom: 0.4%;
    padding-bottom: 2%;
  }
  /* estilos pag index */
  .content-form {
    width: 60%;
  }
  .container-experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container-experience ul {
    margin-left: 5%;
  }
  .text-introdution-1, .text-introdution-2,
  .content-process {
    margin-top: 5%;
    margin-bottom: 4%;
  }
  .container-introduction {
    margin-top: 6%;
  }
  .container-photo {
    margin-top: 10%;
  }
  .content-icon {
    width: 200px;
  }
  .content-advisory {
    margin-bottom: 10%;
  }
  /*** estilos pagina casos ***/
  .content-cases-successful {
    font-size: 24px;
    margin-top: 8%;
    margin-bottom: 5%;
  }
  .section-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 8%;
    margin-right: 5%;
  }
  .content-experience {
    margin-bottom: 5%;
    width: 100%;
  }
  .content-cases ul {
    margin-bottom: 5%;
    margin-right: 0%;
  }
  .content-cases {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 5%;
  }
  /* estilos pag contacto */
  .content-pre-form h2 {
    font-size: 1.6rem;
  }
  .content-pre-form {
    width: 70%;
  }
  /* estilos quien soy */
  .content-about-me {
    width: 85%;
    margin-top: 6%;
  }
  /* pag servicios */
  .information-services {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .information-services h2 {
    font-size: 1.3rem;
  }
  .information-services p {
    font-size: 14px;
  }
  .content-icons {
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 0%;
  }
  .content-icons a {
    margin-right: 0;
  }
  .container-fluid {
    position: relative;
    top: -46px;
    left: 0px;
  }
  .navbar-toggler-icon {
    width: 1.2em;
  }
  .container-logo {
    margin-left: auto;
    width: 115px;
  }
  .container-elements {
    margin: 0;
  }
  .logo-footer {
    padding-left: 5%;
    padding-bottom: 5%;
    position: relative;
    left: 10%;
  }
}
/*# sourceMappingURL=main.css.map */